	
/*UNIVERSAL SELECTOR (*) */
	*{
		font-family: "Courier New", monospace;
		font-size: 20px;
		color: red;
	}	

	#zuitt-motto{
		letter-spacing: 5px;
	}
	.offering-item{
		text-transform: uppercase;
	}

	#offering-1{
		color: blue;
	}

	input[required]{
		border-width: 2px;
		border-style: solid;
		border-color: navy;
		border-radius: 10px;
	}
	h1{
		color:yellow !important;
	}
	
	img{
		height: 200px;
		width:  300px;
		border-radius: 50px;
	}

	
	div p{background-color: yellow;}
	